
html, body {
font-family: 'Lobster', cursive;
font-size: 25px;
margin: 0;
padding: 0;
width: 100%;
height: 97%;
line-height: 1.4;
}
.header{
  position: relative;
  width: 65%;
  height: 66px;
  margin:auto;
  background-color:#01579b;
  color: #FFF;
  -moz-box-shadow: 1px 5px 20px rgba(0,0,0,0.55);
  box-shadow: 1px 15px 20px rgba(0,0,0,0.55);
  z-index: 500; 
}
.header .header_content{
  width: 100%;
  height:100%;
  padding-top: 17px;
}
a{
  height: 100%;
  text-decoration: none;
  color: inherit;
  padding-top: 0px;
}
.menu{
  float: right;
}
.menu a{
  padding: 0 10px;
}
.menu a:hover{
  color: #c6ff00;
  border-bottom: 2px solid #c00;
}
.header_logo{
  font-weight: bold;
  padding: 0 25px;
  float: left;
}
.momoglobal-container {
	background-color: aquamarine;
	width: 65%;
	height: 100%;
  margin: auto;
  margin-bottom: 0;
  padding: 0;
}

.image-slider-container{
  background: none repeat scroll 0% 0% #E5592E;
  width: 100%;
  margin: -110px auto auto;
  height: 400px;
  padding-top: 0%;
  margin-top: 0;
}
/*
.logo{
  display: inline-table;
}
#navigation{
  list-style: none;
  margin: 0;
  padding: 0;  
}
#navigation li{
  display: inline;
  color: #c00;
  border: 1px ;
  margin-bottom: 1px;
  float: right;
}*/