
html, body {
font-family: 'Lobster', cursive;
font-size: 25px;
margin: 0;
padding: 0;
width: 100%;
height: 97%;
line-height: 1.4;
}
.header{
  position: relative;
  width: 100%;
  height: 66px;
  margin:auto;
  background-color:#01579b;
  color: #FFF;
  -moz-box-shadow: 1px 5px 20px rgba(0,0,0,0.55);
  box-shadow: 1px 15px 20px rgba(0,0,0,0.55);
  z-index: 500; 
}
.header .header_content{
  position: relative;
  width: 65%;
  height:100%;
  margin: 0 auto;
  padding-top: 17px;
}
a{
  height: 100%;
  text-decoration: none;
  color: inherit;
  padding-top: 0px;
}
.menu{
  float: right;
}
.menu a{
  padding: 0 10px;
    opacity: 0.2;/* l'opacite que vous voulez au depart */
    border: none;/* enlever les border d'une image en lien */
    -ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=25)"; /* Hack IE8 */
    filter: alpha(opacity = 25); /* Hack IE 5-7 */
    -webkit-transition: opacity 0.5s ease-in-out;/* transition pour Chrome et Safari */
    -moz-transition: opacity 0.5s ease-in-out;/* transition pour Firefox */
    -o-transition: opacity 0.5s ease-in-out;/* transition pour Opéra */
    transition: opacity 0.5s ease-in-out; 
}
.menu a:hover, .menu a:focus{
  color: #FFF;
  opacity: 1; /* opacite au survol */
    -ms-filter:"prodig:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* Hack IE 8 */
    filter: alpha(opacity = 90); /* Hack IE 5-7 */

}
.header_logo{
  font-weight: bold;
  font-size: 35px;
  /*padding: 0 25px;*/
  line-height: auto;
  float: left;
}
.momoglobal-container {
	background-color: aquamarine;
	width: 65%;
	height: 100%;
  margin: auto;
  margin-bottom: 0;
  padding: 0;
}
#logo2{
  padding-left: -10px;
  color: #ffe082;
}
.menu_logo{
  position: relative;
  display: inline;
  padding: 10px;
  padding-bottom: 10px;

}
.menu_logo:hover, .menu_logo:focus{
     -webkit-transition: 0.5s ease;
            transition: 0.3s ease;
  border-bottom: 5px solid #ffe082;
  
}

/*
.logo{
  display: inline-table;
}
#navigation{
  list-style: none;
  margin: 0;
  padding: 0;  
}
#navigation li{
  display: inline;
  color: #c00;
  border: 1px ;
  margin-bottom: 1px;
  float: right;
}*/